* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: #f2f2f2;
  font-family: "Comic Neue", cursive;
}
.container {
  max-width: 1925px;
  width: 85%;
  margin: 0 auto;
}
h1 {
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  font-weight: 400;
}
h5 {
  color: #29b24e;
  font-size: 24px;
}
p {
  font-size: 14px;
  font-weight: 400;
}

/* header */
header {
  padding: 20px 0;
  font-size: 14px;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: #f2f2f2;
  padding: 16px;
  width: 100%;
  box-shadow: 0px 5px 25px 0px #c2c2c24f;
}
.header-container .logo {
  width: 48px;
  height: 48px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #000000e5;
  transition: 0.3s ease;
}
li a:hover {
  color: #29b24e;
}
.header-btn {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #29b24e;
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s ease;
}
.header-btn:hover {
  background-color: #25a047;
  transform: scale(1.05);
}
.search-btn {
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 50%;
}
.search-btn:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.search-btn-container {
  display: none;
}
.search-btn-container:hover {
  border: 1px solid #29b24e;
  border-radius: 15px;
  animation: slideIn 1s forwards ease-out;
}
/* hero aside container */

.hero-aside {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
  margin-top: 10vh;
  font-family: "Comic Neue", cursive;
}
aside {
  max-width: 395px;
  width: 90%;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 24px;
  box-shadow: 0px 4px 25px 0px #c2c2c24f;
}
form select,
form h2 {
  margin-top: 10px;
}
form select {
  max-width: 331px;
  width: 100%;
  height: 48px;
  border: 1px solid #82cc97;
  border-radius: 10px;
  padding: 8px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}
.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.checkboxes div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkboxes .check-input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #29b24e;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}
.checkboxes .check-input:checked {
  background-color: #29b24e;
  border-color: #29b24e;
}

.checkboxes .check-input:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxes .check-input:hover {
  border-color: #23a046;
}
.checkboxes label {
  font-size: 14px;
  cursor: pointer;
}

/* hero */

.hero-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.image-container {
  width: 100%;
}
.image-container img {
  max-width: 1225px;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 600;
}
.hero-text h4 {
  color: #000000cc;
  margin-top: 10px;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 324px;
  width: 90%;
  background-color: whitesmoke;
  padding: 15px;
  margin-top: 40px;
  border-radius: 10px;
}
.search-box input {
  border: none;
  width: 100%;
  background-color: whitesmoke;
}
.search-box img {
  cursor: pointer;
}

/* cards */

.article-container {
  margin-top: 30px;
  margin-bottom: 70px;
}
.article-container h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 10px;
  align-items: start;
}
.card-link {
  text-decoration: none;
  display: block;
  color: unset;
  max-width: 395px;
  width: 100%;
  max-height: 424px;
  border-radius: 22px;
  transition: 0.3s ease;
}
.card-link:hover {
  transform: translateY(-6px);
  box-shadow: 0px 4px 25px 0px #c2c2c259;
}
.card {
  padding: 20px 0;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 18px 0px #9664644d;
  cursor: pointer;
}
.card-body {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.card-img {
  width: 100%;
  height: 180px;
  border-radius: 18px;
  object-fit: cover;
}
.card-text h4 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card p {
  color: #3a2e2eb5;
  font-size: 13px;
}
.price {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cfead6;
  padding-top: 20px;
}
.spans-container span:first-child {
  position: absolute;
  top: 3%;
  left: 3%;
  padding: 4px 8px;
  background-color: #29b24e;
  color: #ffffff;
  font-size: 12px;
  border-radius: 15px;
  transition: 0.3s ease;
  cursor: pointer;
}
.spans-container span:first-child:hover {
  transform: translateY(-4px);
}
.spans-container span:last-child {
  position: absolute;
  bottom: 42%;
  right: 5%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  transition: 0.3s ease;
  cursor: pointer;
}
.spans-container span:last-child:hover {
  transform: translateY(-4px);
}
/* footer */

footer {
  background-color: #29b24e;
  border-radius: 20px;
  font-family: "Comic Neue", cursive;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1640px;
  width: 100%;
  padding: 30px;
}
footer li a,
footer p {
  color: #ffffff;
}
footer li a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.rights {
  display: flex;
  justify-content: center;
  padding: 40px;
}
hr {
  width: 100%;
}

/* bottom nav */

.mobile-nav {
  display: none;
}

/* second page  */
.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Emilys Candy", serif;
}

.home-page-body header li:first-child a {
  text-decoration: underline 2px #29b24e;
}
.width-90 {
  max-width: 786px;
  width: 90%;
  margin: 0 auto;
}
.hero {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10vh;
}
.hero hr {
  height: 1px;
  border: none;
  background-color: #ececec;
}
.card-box {
  background-color: #f8f8f8;
  border-radius: 24px;
  box-shadow: 0 4px 20px 0 #c2c2c24f;
}
.hero-b {
  max-width: 786px;
  width: 90%;
}
.hero-info-container {
  display: flex;
  flex-direction: column;
}
.hero h4 {
  font-weight: 500;
}
.hero p {
  opacity: 0.6;
  font-size: 12px;
  margin: 10px 0;
}
.hero-img-container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-image img {
  max-width: none;
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}
.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.vip-top {
  padding: 8px 10px;
  background-color: #29b24e;
  color: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 15px;
  transition: 0.3s ease;
  cursor: pointer;
}
.info-header p {
  font-weight: 500;
}
.info-header p:nth-of-type(2) {
  opacity: 1;
}
.info-text h1 {
  font-size: 22px;
  font-weight: 600;
}
.info-text {
  margin-bottom: 30px;
}
.list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 0;
}
.list h4 {
  cursor: pointer;
  transition: 0.3s ease;
}
.list h4:hover {
  color: #29b24e;
}
.details {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.details div {
  display: flex;
  flex-direction: column;
}
.details div:nth-of-type(1),
.details div:nth-of-type(3) {
  gap: 5px;
}
.facilities {
  line-height: 26px;
}
.price-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.price-buttons .price h5 {
  font-size: 36px;
}
.price p {
  opacity: 1;
  font-size: 16px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.buttons .sent-btn,
.buttons .call-btn {
  padding: 13px 26px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}
.buttons .sent-btn:hover,
.buttons .call-btn:hover {
  transform: scale(1.05);
}
.sent-btn {
  background-color: transparent;
  color: #29b24e;
  border: 1px solid #29b24e;
}
.call-btn {
  background-color: #29b24e;
  color: #ffffff;
  border: none;
}

/* responsive */

@media (max-width: 1200px) {
  .first-sec {
    min-height: 850px;
    height: 100%;
  }
  .hero-aside,
  .hero {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  aside,
  .hero-b {
    width: 100%;
  }
  footer ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-text h1 {
    font-size: clamp(24px, 5vw, 48px);
  }
  .hero-text h4 {
    font-size: clamp(14px, 2vw, 18px);
  }

  /* home page */
  .hero {
    gap: 30px;
  }
  .hero-img-container {
    width: 90%;
    justify-content: center;
  }
  .hero-info-container h1,
  .hero-info-container h4,
  .hero-info-container p {
    font-size: clamp(0.75rem, 1.5vw, 2rem);
  }
}
@media (max-width: 768px) {
  .header-container nav,
  .header-container .header-btn {
    display: none;
  }
  .search-btn {
    display: block;
  }
  .search-btn-container {
    display: flex;
    justify-content: flex-end;
    cursor: text;
    background: #f8f8f8;
    border-radius: 50%;
  }
  .header-container {
    justify-content: space-between;
  }
  .hero-text {
    margin-top: 7px;
  }

  .search-box {
    display: none;
  }
  @media (max-width: 768px) {
    .articles {
      grid-template-columns: 1fr;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container {
    width: 90%;
  }
  .footer-container p {
    display: none;
  }
}
@media (max-width: 480px) {
  .article-container {
    margin-bottom: 20vh;
  }
  .footer-container nav:first-child ul {
    justify-content: start;
  }
  .footer-container ul:last-child {
    justify-content: end;
  }
  .mobile-nav {
    display: block;
  }
  .hero-container {
    max-width: 375px;
    width: 85%;
  }
  .image-container img {
    height: 40vh;
  }
  .hero-aside,
  .hero {
    width: 100%;
  }
  .articles {
    gap: 35px;
  }
  .card-link {
    max-width: 90%;
  }
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 100%;
  }
  .bottom-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom-nav div h4 {
    font-size: 11px;
    margin-top: 7px;
    color: #000000cc;
  }
  .sell-container span {
    display: flex;
    padding: 10px;
    border-radius: 12px;
    background-color: #29b24e;
    color: #ffffff;
    font-size: 12px;
  }
  .sell-container {
    margin-top: -8%;
  }
  footer {
    margin-bottom: 20vh;
  }
  .footer-container {
    padding-left: 0;
    padding-right: 0;
  }

  /* home page */

  .home-page-body .container {
    margin-top: 30px;
  }
  .list {
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .list h4 {
    min-width: 87px;
  }
  .details {
    flex-direction: column;
  }
  .details div:first-child div,
  .facilities div,
  .details div:last-child div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .facilities div:first-child div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .price-buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 7vh;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  .price-buttons .price h5 {
    margin-left: 20px;
    font-size: 24px;
  }

  .home-page-body .articles .card-link:not(:first-child) {
    display: none;
  }
}
@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 40vw;
  }
}
